---
---
<header>
  <img src="/logo.png" alt="Hogar Sobre la Roca" style="height:60px; vertical-align: middle;"/>
  <nav>
    <a href="/">Inicio</a>
    <a href="#sobre">Sobre Nosotros</a>
    <a href="#horarios">Horarios</a>
    <a href="#ubicacion">Ubicación</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>